.cart-show {
  tr div {
    width: max-content;
  }

  button.stripe-button-el span {
    border-radius: 0.25em;
    border: 0.1em solid rgba(0, 130, 29, 0.8);
    background: rgba(0, 130, 29, 0.7);
    color: white;
  }

  .home-button {
    width: 140px;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0, 130, 29, 0.7);
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(0, 130, 29, 0.3);
    border-radius: 0.25rem;
  }
  .home-link, .home-link:focus, .home-link:active, .home-link:hover{
    text-decoration: none;
    color: inherit;
  }
}